{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

    <div class="container">

      <h1>{{ title }}</h1>
      <h3>Which Information Do you need?</h3>
      <button class="event-button-click">All Events</button>
      <button class="attendee-button-click">All Attendees</button>

      <hr>
      <h4>Select Fields</h4>
      <div id="attendeeData">
          <div class="table table-responsive">
            <table class="table">
             <tr class="active">
              <th>
                <div class="radio" id="name-select-div" >
                  <label>
                    <input type="radio" name="name">Name</label>
                </div>
              </th>
              <th>
                <div class="radio">
                  <label>
                    <input type="radio" name="roundtrip">Id</label>
                </div>
              </th>
              </tr>
            </table>
          </div>




          <button>
            <a href="#" class="export-attendees">Export Attendees To Excel</a>
          </button>
          <br><br><br>
          <table class="attendee-table table-striped table-bordered table-hover table-condensed table-responsive">
              <tr>
                  <th>Team</th>
                  <th>Base: Price Display</th>
                  <th>Base: Price Currency</th>
                  <th>Base: Price Value</th>
                  <th>Base: Price Major Value</th>
                  <th>Eventbrite: Price Display</th>
                  <th>Eventbrite: Price Currency</th>
                  <th>Eventbrite: Price Value</th>
                  <th>Eventbrite: Price Major Value</th>
                  <th>Gross Price Display</th>
                  <th>Gross Price Currency</th>
                  <th>Gross Price Value</th>
                  <th>Gross Price Major Value</th>
                  <th>Payment Fee: Price Display</th>
                  <th>Payment Fee: Price Currency</th>
                  <th>Payment Fee: Price Value</th>
                  <th>Payment Fee: Price Major Value</th>
                  <th>Tax: Price Display</th>
                  <th>Tax: Price Currency</th>
                  <th>Tax: Price Value</th>
                  <th>Tax: Price Major Value</th>
                  <th>Resource URI</th>
                  <th>ID</th>
                  <th>Changed</th>
                  <th>Created</th>
                  <th>Quantity</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Name</th>
                  <th>Addresses</th>
                  <th>Barcodes: Status</th>
                  <th>Barcodes: Barcode</th>
                  <th>Barcodes: Checkin Type</th>
                  <th>Barcodes: Created</th>
                  <th>Barcodes: Changed</th>
                  <th>Answers</th>
                  <th>Checked In</th>
                  <th>Cancelled</th>
                  <th>Refunded</th>
                  <th>Affiliate</th>
                  <th>Status</th>
                  <th>Event ID</th>
                  <th>Order ID</th>
                  <th>Ticket Class ID</th>
              </tr>
          </table>
      </div>
      <br/>
      <div id="eventData">
          <button>
            <a href="#" class="export-events">Export Events To Excel</a>
          </button>
          <br><br><br>
          <table class="event-table">
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
              </tr>
          </table>
      </div>
    </div>

{% endblock %}
