{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

    <div class="container">

      <button class="btn btn-success">
        <a href="#" class="export-attendees">Export Attendees To Excel</a>
      </button>

      <h4>Select Fields To View</h4>
      <div class="checkbox">
        <label><input type="checkbox" checked id="checkAll">Select All</label>
      </div>

      <div class="row">
        <h2>Attendee</h2>
        <hr>
      </div>

      <div class="row">
          <!-- profile section -->
          <div class="col-sm-2">
            <div class="checkbox">
              <label><input type="checkbox" checked name="col27">First Name</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col28">Last Name</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col29">Email</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col30">Name</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col31">Addresses</label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="checkbox">
              <label><input type="checkbox" checked name="col37">Answers</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col38">Checked In</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col39">Cancelled</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col40">Refunded</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col41">Affiliate</label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="checkbox">
              <label><input id="radio-col1" type="checkbox" checked name="col1">Team</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col42">Status</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col43">Event ID</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col44">Order ID</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col45">Ticket Class ID</label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="checkbox">
              <label><input type="checkbox" checked name="col22">Resource URI</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col23">ID</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col24">Changed</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col25">Created</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col26">Quantity</label>
            </div>
          </div>

          <!-- barcodes section -->
          <div class="col-sm-2">
            <div class="checkbox">
              <label><input type="checkbox" checked name="col32">Barcodes: Status</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col33">Barcodes: Barcode</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col34">Barcodes: Checkin Type</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col35">Barcodes: Created</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col36">Barcodes: Changed</label>
            </div>
          </div>
      </div> <!-- end attendee row -->

      <div class="row">
        <h2>Pricing</h2>
        <hr>
      </div>
      <div class="row">
          <!-- base price section -->
          <div class="col-sm-2">
            <h4>Base</h4>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col2">Price Display</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col3">Price Currency</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col4">Price Value</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col5">Price Major Value</label>
            </div>
          </div>

          <!-- evetbrite price section -->
          <div class="col-sm-2">
            <h4>Eventbrite</h4>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col6">Price Display</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col7">Price Currency</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col8">Price Value</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col9">Price Major Value</label>
            </div>
          </div>

          <!-- gross price section -->
          <div class="col-sm-2">
            <h4>Gross</h4>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col10">Price Display</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col11">Price Currency</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col12">Price Value</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col13">Price Major Value</label>
            </div>
          </div>

          <!-- payment fee section -->
          <div class="col-sm-2">
              <h4>Payment Fee</h4>
              <div class="checkbox">
                <label><input type="checkbox" checked name="col14">Price Display</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" checked name="col15">Price Currency</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" checked name="col16">Price Value</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" checked name="col17">Price Major Value</label>
              </div>
          </div>

          <!-- tax price section -->
          <div class="col-sm-2">
            <h4>Tax</h4>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col18">Price Display</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col19">Price Currency</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col20">Price Value</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" checked name="col21">Price Major Value</label>
            </div>
          </div>
      </div> <!-- end pricing row -->



      <div id="attendeeData">
          <br><br><br>
          <table class="attendee-table table-striped table-bordered table-hover table-condensed table-responsive">
              <tr>
                  <th class="col col1">Team</th>
                  <th class="col col2">Base: Price Display</th>
                  <th class="col col3">Base: Price Currency</th>
                  <th class="col col4">Base: Price Value</th>
                  <th class="col col5">Base: Price Major Value</th>
                  <th class="col col6">Eventbrite: Price Display</th>
                  <th class="col col7">Eventbrite: Price Currency</th>
                  <th class="col col8">Eventbrite: Price Value</th>
                  <th class="col col9">Eventbrite: Price Major Value</th>
                  <th class="col col10">Gross Price Display</th>
                  <th class="col col11">Gross Price Currency</th>
                  <th class="col col12">Gross Price Value</th>
                  <th class="col col13">Gross Price Major Value</th>
                  <th class="col col14">Payment Fee: Price Display</th>
                  <th class="col col15">Payment Fee: Price Currency</th>
                  <th class="col col16">Payment Fee: Price Value</th>
                  <th class="col col17">Payment Fee: Price Major Value</th>
                  <th class="col col18">Tax: Price Display</th>
                  <th class="col col19">Tax: Price Currency</th>
                  <th class="col col20">Tax: Price Value</th>
                  <th class="col col21">Tax: Price Major Value</th>
                  <th class="col col22">Resource URI</th>
                  <th class="col col23">ID</th>
                  <th class="col col24">Changed</th>
                  <th class="col col25">Created</th>
                  <th class="col col26">Quantity</th>
                  <th class="col col27">First Name</th>
                  <th class="col col28">Last Name</th>
                  <th class="col col29">Email</th>
                  <th class="col col30">Name</th>
                  <th class="col col31">Addresses</th>
                  <th class="col col32">Barcodes: Status</th>
                  <th class="col col33">Barcodes: Barcode</th>
                  <th class="col col34">Barcodes: Checkin Type</th>
                  <th class="col col35">Barcodes: Created</th>
                  <th class="col col36">Barcodes: Changed</th>
                  <th class="col col37">Answers</th>
                  <th class="col col38">Checked In</th>
                  <th class="col col39">Cancelled</th>
                  <th class="col col40">Refunded</th>
                  <th class="col col41">Affiliate</th>
                  <th class="col col42">Status</th>
                  <th class="col col43">Event ID</th>
                  <th class="col col44">Order ID</th>
                  <th class="col col45">Ticket Class ID</th>
              </tr>
              <tr>
                <td class="colData">Test1</td>
                <td class="colData">test2</td>
              </tr>
          </table>
      </div>


<!--       <br/>
      <div id="eventData">
          <button>
            <a href="#" class="export-events">Export Events To Excel</a>
          </button>
          <br><br><br>
          <table class="event-table">
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
              </tr>
          </table>
      </div> -->
    </div>

{% endblock %}
